.footer {
  background-color: #0f0229;
  color: white;
  text-align: center;
  position: fixed;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: #00aced;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 5px 0;
}
